

.board {
	padding: 10px;
	position: relative;
	top: 100px;
	margin: 0 auto;
	width: 750px;
	height: 150px;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.2);

}



.uncompleted {
  color: rgba(0, 0, 0, 0.45);
}

.current {
  background-color:rgba(77, 245, 141, 0.959)
}

.wrong {
  background-color:rgba(243, 45, 19, 0.7)
}